body {
  margin: 0;
  padding: 0;
  display: block;
}
.textbox {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
}

header {
  border-bottom: 1px solid gray;
  display: flex;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  width: 1880px;
  padding: 0;
  margin: 0 260px 0 260px;
}
.header_evr {
  font-size: 12px;
  color: red;
  display: block;
}
.header_school {
  font-size: 22px;
  display: block;
}

#logo {
  margin: 10px 10px 10px 10px;
  width: 52px;
  height: 52px;
}

#chat,
#people {
  display: flex;
  gap: 15px;
  float: left;
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  margin: 20px 5px 20px 5px;
}
.header_text {
  font-size: 16px;
  display: flex;
  gap: 17px;
  height: 50px;
  padding-top: 36px;
}
.header_text span {
  border-bottom: 5px solid red;
}

/*네비게이션 부분*/
nav {
  background-color: #f2f2f2;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.nav_wrap {
  margin: 0 270px 0 270px;
  display: flex; /*디스플레이 플렉스 하니깐 수정*/
  height: 200px;
}
.nav_line {
  border-left: 1px solid;
  color: lightgray;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu {
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.menu > li {
  padding: 3px 15px;
  text-align: left;
}
.menu_1 {
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0 60px 0 60px;
  display: inline-block;
}

/*섹션 부분*/
section {
  margin: 0;
  padding: 0;
  width: 780px;
}
.sec_title {
  border: 1px solid lightgray;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}
/*아티클 부분*/
article {
  border: 1px solid #e3e3e3;
}
.article_all {
  padding: 15px;
}
.art_header {
  padding: 15px;
  display: flex;
  align-items: center;
}
.article_prf {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.text_prf {
  display: flex;
  margin-right: auto;
  flex-direction: column;
}
#prf_title {
  font-size: 14px;
  font-weight: bold;
  display: block;
}
.prf_time {
  font-size: 12px;
  color: #a6a6a6;
  display: block;
}
.prf {
  font-size: 12px;
  color: #a6a6a6;
  align-self: center;
}

.article_img_wrap {
  display: flex;
  width: 183px;
  height: 183px;
  gap: 5px;
}
.buttons_wrap {
  display: flex;
  gap: 10px;
  padding-top: 16px;
}
.buttons {
  background-color: #f9f9f9;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 0 20px;
}
.buttons_num {
  font-size: 12px;
  color: #737373;
  font-weight: bold;
}
.article_bottom {
  display: flex; /* flex 레이아웃 적용 */
  align-items: center;
  border-top: 1px solid lightgray;
  background-color: #f8f8f8;
  padding: 10px;
  justify-content: space-between;
}
.article_bottom p {
  margin: 0;
  display: flex;
  font-size: 13px;
  color: #666;
  align-items: center;
}
#article_bottom_img {
  width: 40px;
  height: 40px;
}
.article_bottom > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article_bottom input[type="checkbox"] {
  accent-color: #a6a6a6;
  margin: 0;
}

.article_bottom label {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
  white-space: nowrap;
}

.page {
  border: 1px solid red;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 0 5px;
}
.page span {
  color: red;
  font-weight: bold;
}
#page_img {
  width: 10px;
  height: 10px;
}
/*사이드바*/
aside {
  display: block;
  width: 350px;
  background-color: #f9f9f9;
  margin: 0;
  height: fit-content; /*콘텐츠 높이에 맞추기*/
}
.sidebar_1 {
  margin-bottom: 5px;
  border: 1px solid lightgray;
}
aside h3 {
  font-size: 14px;
  color: #056ab5;
  font-style: bold;
  padding-left: 10px;
}
.sidebar_hot {
  border-top: 1px solid lightgray;
  font-size: 13px;
  /*padding-left: 10px;*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  height: 80px;
  justify-content: center;
}
.sidebar_hot p {
  margin: 0;
}
#img_side_hot,
#img_comment,
#img_scrap,
#buttons_img {
  width: 11px;
  height: 11px;
}

.sidebar_header {
  font-size: 11px;
  color: #a6a6a6;
  margin-right: 10px;
}
.hot_num {
  color: red;
  margin-right: 5px;
}
.comment_num {
  color: #05bcbc;
  margin-right: 5px;
}
.scrap_num {
  color: #ffc900;
}
.sidebar_ {
  color: #a6a6a6;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 260px;
  padding: 25px 0;
}
/*HOT 게시물*/
.sidebar_bottom {
  font-size: 11px;
  color: #a6a6a6;
  float: right;
  padding: 0 10px 0 0;
  /*dispaly flex 안먹힐 때가 언제인지...*/
}
.sidebar_hot_section {
  border: 1px solid lightgray;
}
.sidebar_hot_header {
  border-bottom: 1px solid lightgray;
}
.sidebar_hot_item {
  font-size: 14px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #a6a6a6;
}
.sidebar_date {
  float: right;
  color: #a6a6a6;
  padding-right: 10px;
  font-size: 11px;
}

.sidebar_hot_item_2 {
  font-size: 14px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #a6a6a6;
}
