body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  max-width: 270px;
  margin: 100px 0 50px 0;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  border-radius: 20px;
  width: 500px;
  height: 25px;
  font-size: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
input[type="password"] {
  border-radius: 20px;
  width: 500px;
  height: 25px;
  font-size: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
}
.login {
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: gray;
  border: 1px solid gray;
  margin-top: 5px;
}
#club {
  color: gray;
  text-align: center;
  margin-top: 100px;
  border: none;
  background: white;
  text-decoration: underline;
  font-size: 15px;
}
.bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: rgb(167, 167, 167);
}
.bottom div {
  margin: 15px 50px;
  white-space: nowrap;
}

@media screen and (max-width: 640px) {
  form {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10%;
  }

  #club {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .bottom div {
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
  }
  input[type="text"] {
    width: 80%;
    height: 25px;
    font-size: 15px;
    padding: 10px;
  }
  input[type="password"] {
    width: 80%;
    height: 25px;
    font-size: 15px;
    padding: 10px;
  }
  .login {
    display: block;
    width: 80%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px 10px;
  }
}
