body {
  margin: 0;
  padding: 0;
  display: block;
}
.textbox {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
}

header {
  border-bottom: 1px solid gray;
  display: flex;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  width: 1880px;
  padding: 0;
  margin: 0 260px 0 260px;
}
.header_evr {
  font-size: 12px;
  color: red;
  display: block;
}
.header_school {
  font-size: 22px;
  display: block;
}

#logo {
  margin: 10px 10px 10px 10px;
  width: 52px;
  height: 52px;
}

#chat,
#people {
  display: flex;
  gap: 15px;
  float: left;
  border: 1px solid gray;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  margin: 20px 5px 20px 5px;
}
.header_text {
  font-size: 16px;
  display: flex;
  gap: 17px;
  height: 50px;
  padding-top: 36px;
}
.header_text span {
  border-bottom: 5px solid red;
}

/*네비게이션 부분*/
nav {
  background-color: #f2f2f2;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  overflow: hidden;
}
.nav_wrap {
  margin: 0 270px 0 270px;
  display: flex; /*디스플레이 플렉스 하니깐 수정*/
  height: 200px;
}
.nav_line {
  border-left: 1px solid;
  color: lightgray;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu {
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.menu > li {
  padding: 3px 15px;
  text-align: left;
}
.menu_1 {
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0 60px 0 60px;
  display: inline-block;
}

/*섹션 부분*/
section {
  margin: 0;
  padding: 0;
  width: 780px;
}
.sec_title {
  border: 1px solid lightgray;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}
.sec_menu {
  border: 1px solid lightgray;
  display: flex;
  padding: 15px 0 15px 15px;
  margin-bottom: 5px;
  gap: 20px;
  flex-direction: column;
  font-size: 12px;
  color: #666;
}
.post_hot,
.post_que {
  display: flex;
  align-items: center;
}

#img_hot,
#img_que {
  display: inline;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.sec_hot {
  background-color: #e6faff;
  border-radius: 15px;
  padding: 10px;
}
.sec_que {
  background-color: #ffecec;
  border-radius: 15px;
  padding: 10px;
}
#img_vote {
  width: 12px;
  height: 12px;
}
.new_post {
  margin-bottom: 5px;
}

.new_post_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  border: 2px solid lightgray;
  background-color: #f9f9f9;
  color: #a6a6a6;
  font-size: 14px;
}

.new_post_button span {
  flex-grow: 1;
  text-align: left;
}

.new_post_img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

#new_img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.article {
  display: flex;
  border: 1px solid lightgray;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 2px;
  align-items: center;
  justify-content: space-between;
}
.article_1,
.article_bottom {
  display: block;
}
.article_bottom {
  font-size: 12px;
  color: #a6a6a6;
  padding: 10px 10px 10px 0;
}
.art_img {
  display: flex;
  float: right;
}
.bottom_1,
.bottom_2 {
  width: 12px;
  height: 12px;
}

/*사이드바*/
aside {
  display: block;
  width: 350px;
  background-color: #f9f9f9;
  margin: 0;
  height: fit-content; /*콘텐츠 높이에 맞추기*/
}
.sidebar_1 {
  margin-bottom: 5px;
  border: 1px solid lightgray;
}
aside h3 {
  font-size: 14px;
  color: #056ab5;
  font-style: bold;
  padding-left: 10px;
}
.sidebar_hot {
  border-top: 1px solid lightgray;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  height: 65px;
  justify-content: center;
}
.sidebar_hot p {
  margin: 0;
}
#img_side_hot,
#img_comment {
  width: 11px;
  height: 11px;
}

.sidebar_header {
  font-size: 11px;
  color: #a6a6a6;
  margin-right: 10px;
}
.hot_num {
  color: red;
}
.comment_num {
  color: #05bcbc;
}
.sidebar_ {
  color: #a6a6a6;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 270px;
  padding: 25px 0;
}
/*HOT 게시물*/
.sidebar_bottom {
  font-size: 11px;
  color: #a6a6a6;
  float: right;
  padding: 0 10px 0 0;
  /*dispaly flex 안먹힐 때가 언제인지...*/
}
.sidebar_hot_section {
  border: 1px solid lightgray;
}
.sidebar_hot_header {
  border-bottom: 1px solid lightgray;
}
.sidebar_hot_item {
  font-size: 14px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #a6a6a6;
}
.sidebar_date {
  float: right;
  color: #a6a6a6;
  padding-right: 10px;
  font-size: 11px;
}

.sidebar_hot_item_2 {
  font-size: 14px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #a6a6a6;
}
.mobile-header {
  display: none;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu div {
  width: 25px;
  height: 3px;
  margin: 6px 0;
  background-color: gray;
}
.nav_media {
  display: none;
}
@media screen and (max-width: 640px) {
  header {
    display: none;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
  }
  .header_media {
    display: block;
    padding: 15px;
    font-weight: bold;
    color: #444444;
    font-size: 20px;
  }
  #hamburger-menu {
    display: block;
    color: #444444;
    padding-right: 5px;
  }
  #hamburger-menu div {
    display: block;
  }
  /*네비게이션 부분*/
  nav {
    display: none;
  }
  .nav_media {
    display: flex;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    white-space: nowrap;
  }
  .menu_media {
    list-style: none;
    font-size: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .menu_media > li {
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    white-space: nowrap;
  }
  .menu_media_1 {
    list-style: none;
    font-size: 17px;
    margin: 0;
    padding: 5px 60px 5px 90px;
    display: inline-block;
    width: 100%;
  }
  .menu_media_1 > li {
    white-space: nowrap;
  }
  .nav_line {
    display: none;
  }
  .nav_line_media {
    border-left: 1px solid;
    color: lightgray;
    height: 290px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
  .sec_title {
    display: none;
  }

  /* 메인 컨테이너 조정 */
  .container {
    flex-direction: column;
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }

  section {
    width: 100%;
  }

  #img_hot,
  #img_que {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .sec_hot {
    background-color: #e6faff;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    font-size: 18px;
  }
  .sec_que {
    background-color: #ffecec;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    font-size: 18px;
  }
  #img_vote {
    width: 12px;
    height: 12px;
  }
  .new_post_button {
    width: 100%;
    height: 60px;
    font-size: 17px;
  }
  /* 사이드바 숨김 */
  aside {
    display: none;
  }

  .article_img_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .article_img_wrap img {
    width: 148px;
    height: 148px;
  }
  .first,
  .second {
    display: flex;
    gap: 6px;
  }

  .checkbox span {
    font-size: 10px;
  }
  .article_bottom input[type="text"] {
    width: 90%;
  }
  .page {
    margin: 15px auto;
  }
}
