.write {
  border: 2px solid lightgray;
  width: 776px;
  margin-bottom: 4px;
}
.write_header {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 756px;
  padding: 15px 10px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  color: #292929;
}
/*글 작성 부분*/
textarea {
  width: 99%;
  border: 0;
  height: 350px;
  color: #292929;
  font-size: 14px;
  resize: none;
  outline: none;
}
textarea::placeholder {
  font-size: 14px;
}
.write p {
  border-bottom: 1px solid #e3e3e3;
  margin-top: 0;
}
.write_img {
  width: 80px;
  height: 40px;
  display: flex;
}
.write_bottom {
  display: flex;
  border-top: 2px solid lightgray;
  padding: 0;
  justify-content: space-between;
}
.write_check {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  font-size: 10px;
}
#check {
  width: 40px;
  height: 40px;
  background-color: red;
}
.text_bottom {
  width: 530px;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 0 5px;
}
input[type="checkbox"] {
  font-size: 10px;
}
.que_wrap {
  display: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}
#queLabel {
  color: #000;
}
.que_text {
  color: #05bcbc;
  font-size: 13px;
  padding: 8px;
  border-radius: 8px;
  line-height: 18px;
  background-color: #edfffe;
  text-align: center;
}
